<p id="notice"><%= notice %></p>

<h1>Tweets</h1>
<div class="row">
   <div class="col-md-9">
  

    <% @tweets.each do |tweet| %>
      <div class="well">
        <%= tweet.content %>
        <%= link_to 'Show', tweet %>
        <%= link_to 'Edit', edit_tweet_path(tweet), class:'btn btn-primary' %>
        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>



<div class="col-md-3">
  <%= render 'form', tweet: @new_tweet %> <!-- aca se define un tweet dentro del index -->
</div>

</div>